.adminPanel {
    display: flex;
}

.navLogoContainer {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.navLogo {
    height: 70px;
    width: auto;
    object-fit: contain;
    margin-right: 10px;
}

.navTitle {
    font-size: 1rem;
    font-weight: 700;
    color: #1f2937;
}

.sidebar {
    width: 250px;
    background-color: #e5e7eb;
    padding: 20px;
    padding-top: 0;
    border-right: 1px solid #e0e0e0;
    height: 100vh;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.2s;
    font-weight: 500;
    color: #1f2937;
}

.sidebar ul li svg {
    margin-right: 12px;
}

.customPadding {
    padding-right: 6px;
}

.sidebar ul li:hover {
    color: #0d9488;
}

/* Estilos del contenido principal */
.mainContent {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.panelHeader {
    display: flex;
    align-items: start;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.panelHeader h1 {
    font-size: 24px;
    margin: 0;
    color: #1f2937;
}

.panelHeader p {
    font-size: 14px;
    color: #777;
}

.addButton {
    padding: 10px 20px;
    color: #ffffff;
    background-color: #0d9488;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    gap: 10px;
    transition: color 0.2s, background-color 0.2s;
}

.addButton:hover {
    background-color: #0f766e;
}

/* Estilos de la tabla */
.adminTableContainer {
    max-height: 400px;
    /* Limita la altura total de la tabla */
    overflow-y: auto;
    /* Activa el desplazamiento vertical cuando hay muchas filas */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    margin-bottom: 20px;
    /* Agrega un margen inferior para separación */
}

.adminTable {
    width: 100%;
    border-collapse: collapse;
}


.adminTable thead {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
    border-bottom: 2px solid #e0e0e0;
}

.adminTable th,
.adminTable td {
    padding: 12px 15px;
    text-align: left;
}

.adminTable th {
    font-size: 16px;
    color: #333;
}

.adminTable td {
    font-size: 14px;
    color: #555;
    border-top: 1px solid #e0e0e0;
}

.adminTable tbody tr:hover {
    background-color: #f2f2f2;
}

.actionButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #333;
    background-color: #e0e0e0;
    margin-right: 10px;
}

.actionButton:hover {
    background-color: #d4d4d4;
}