.card {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.content {
    flex-grow: 1;
}

.title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.description {
    font-size: 1em;
    margin: 10px 0;
    color: #666;
}

.date {
    font-size: 0.9em;
    color: #999;
}

.downloadButton {
    padding: 10px 20px;
    font-weight: 500;
    color: #0d9488;
    background-color: #ecfdf5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
}

.downloadButton:hover {
    background-color: #0d9488;
    color: #ecfdf5;
}