.h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: 700;
    color: #1f2937;
}

.cardsContainer {
    display: grid;
    padding: 20px;
    justify-content: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.descripcion {
    position: relative;
    text-align: center;
    margin: 20px auto;
    padding: 40px 20px;
    overflow: hidden;
    background-image: url('/public/img/img_fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.descripcion::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
}

.descripcion ul {
    position: relative;
    z-index: 2;
    list-style-type: disc; 
    padding-left: 20px;
    text-align: left;
}

.descripcion li {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 1.6;
    color: #000000;
    font-weight: bold;
}


.buttonBack {
    background-color: transparent;
    color:  #0f766e;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    transition: background-color 0.2s;
    margin: 30px;
}

.buttonBack:hover {
    background-color: #f0fdfa;
}

@media (min-width: 1024px) {
    .cardsContainer {
        grid-template-columns: repeat(3, 1fr);
        max-width: 1200px; 
        margin: 0 auto;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .cardsContainer {
        grid-template-columns: repeat(2, 1fr);
    }

    .h2 {
        font-size: 2rem;
    }
}

@media (max-width: 767px) {
    .cardsContainer {
        grid-template-columns: 1fr;
    }

    .h2 {
        font-size: 1.8rem;
    }
}

